<?xml version="1.0" encoding="UTF-8"?>

<!--
-->

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	
	<servers>
		<server>
			<id>artifactory-snapshots</id>
			<username>admin</username>
			<password>sq@admin</password>
		</server>
		<server>
			<id>artifactory-releases</id>
			<username>admin</username>
			<password>sq@admin</password>
		</server>
	</servers>
	
	<mirrors>
		<mirror>
			<id>artifactory</id>
			<mirrorOf>central</mirrorOf>
			<name>internal Central</name>
			<url>http://7cc09973.ngrok.io/artifactory/sq-virtual-snapshots</url>
		</mirror>
	</mirrors>	
</settings>
